body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000 0%, #000000 100%);
    color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 300px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #1f4269;
  }
  
  .tally-display {
    font-size: 4em;
    margin-bottom: 20px;
    color: #1f4269;
    border: 2px solid #1f4269;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    background-color: #1f4269;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: #14161b;
    transform: scale(1.1);
  }
  
  .btn:active {
    background-color: #38507c;
    transform: scale(1.05);
  }
  
